{{!< default}}

{{#post}}
<style>
    #color-screen1 {
        //background-image: linear-gradient(90deg, #f63714, #62c2b1, #5b6175, #fb8c6a, #5b3f4f, #5e8835, #5ec8e5) !important;
    }
</style>
<article class="gh-article {{post_class}}">
    {{#match @page.show_title_and_feature_image}}
    <header class="gh-header gh-canvas">
        <h1 class="gh-title">{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <figure class="gh-feature-image">
                <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}
    </header>
    {{/match}}

    <div class="gh-content gh-canvas">
        <div class="columns">
            {{content}}
        </div>
    </div>

</article>
{{/post}}
