<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>
    <script>
      (function(d) {
        var config = {
          kitId: 'qqf3gbg',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div id="color-screen1"></div>
<div id="color-screen2"></div>
<div class="gh-viewport">

<header id="gh-head" class="gh-head">
    <div class="gh-head-inner gh-head-subtitle gh-container">
        <h6 class="gh-head-smalltext">
Everything Matters is a print & digital publishing house established in 2024 by yo & wwmairs. Due to the fact that everything matters, we find publishing words and images to be an urgent task.
        </h6>
        <h6 class="gh-head-smalltext" style="text-align: right;">
            {{navigation type="secondary"}}
        </h6>
    </div>
    <nav class="gh-head-inner gh-container">

        <div class="gh-head-brand">
            <a class="gh-head-logo" href="{{@site.url}}">
                every&shy;thing matt&shy;ers
            </a>
            <a class="gh-burger" role="button" aria-label="menu">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
        </div>
        <div class="gh-head-menu">
            {{navigation}}
        </div>
        <!--
        <div class="gh-head-actions">
            <div class="gh-head-actions-list">
                {{search}}
                {{#if @site.members_enabled}}
                    {{^if @member}}
                    <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
                    {{else}}
                    <a class="gh-button" href="#/portal/account">Account</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
        -->
    </nav>
    <div class="gh-head-inner gh-head-subtitle gh-container">
        <h6 class="gh-head-smalltext">
            <span id="clock"></span>
            <script>
                function startTime() {
                    const today = new Date();
                    var parts = today.toString().split(" ");
                    var first = parts.slice(0, 4).join(" ");
                    let dateString = `${first} ◆ ${parts[4]}`;
                    document.getElementById("clock").innerHTML = dateString;
                    setTimeout(startTime, 1000);
                }
                function checkTime(i) {
                    if (i < 10) { i = "0" + i};
                    return i;
                }
                window.addEventListener("load", () => {startTime()});
            </script>
        </h6>
        <h6 class="gh-head-smalltext" style="text-align: right;">
            <a href="#" class="snipcart-checkout">
                CART
                (<span class="snipcart-items-count"></span>)
            </a>
        </h6>
    </div>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="gh-foot">
    <div class="gh-container">
        <div class="gh-foot-menu">
            
        </div>
        <div class="gh-foot-meta">
        </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}
<script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
